homework/前端打包/flows.json
[
    {
        "id": "9266cfff.267e38",
        "type": "tab",
        "label": "流程2",
        "disabled": false,
        "info": ""
    },
    {
        "id": "527d45d6.f647e4",
        "type": "ui_button",
        "z": "9266cfff.267e38",
        "name": "",
        "group": "bffc0ad3.623818",
        "order": 4,
        "width": "6",
        "height": "1",
        "passthru": false,
        "label": "Add Seller",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 111.99999237060547,
        "y": 194.40001487731934,
        "wires": [
            [
                "bfde9268.d6b1d"
            ]
        ]
    },
    {
        "id": "7112c4fd.609f74",
        "type": "function",
        "z": "9266cfff.267e38",
        "name": "Add Seller",
        "func": "id=global.get('sellerID');\nmoney=global.get('sellermoney');\nmsg.payload = {\n  \"$class\": \"ibm.work.seller\",\n  \"commodityList\": [],\n  \"orders\": [],\n  \"userID\": id,\n  \"money\": money,\n  \"record\": \"Add Seller\"\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 460.0000534057617,
        "y": 224.40001487731934,
        "wires": [
            [
                "522d66f5.863048"
            ]
        ]
    },
    {
        "id": "522d66f5.863048",
        "type": "http request",
        "z": "9266cfff.267e38",
        "name": "Post  Seller",
        "method": "POST",
        "ret": "obj",
        "paytoqs": false,
        "url": "http://localhost:3000/api/ibm.work.seller",
        "tls": "",
        "proxy": "",
        "authType": "",
        "x": 629.0000076293945,
        "y": 223.2000026702881,
        "wires": [
            [
                "db74dd1.0b0b32",
                "4265eee5.1eafe",
                "be13df80.5e9b9"
            ]
        ]
    },
    {
        "id": "a89c1309.18b3",
        "type": "inject",
        "z": "9266cfff.267e38",
        "name": "Check seller ID",
        "topic": "If seller ID is not set, input an ID",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 145.4000244140625,
        "y": 41.00000190734863,
        "wires": [
            [
                "6e935f21.a54558"
            ]
        ]
    },
    {
        "id": "6e935f21.a54558",
        "type": "function",
        "z": "9266cfff.267e38",
        "name": "generate seller ID",
        "func": "msg.payload=2000;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 345,
        "y": 42.59999465942383,
        "wires": [
            [
                "945ba450.cee168"
            ]
        ]
    },
    {
        "id": "945ba450.cee168",
        "type": "ui_text_input",
        "z": "9266cfff.267e38",
        "name": "",
        "label": "Initial Money",
        "tooltip": "",
        "group": "bffc0ad3.623818",
        "order": 3,
        "width": "6",
        "height": "1",
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "",
        "x": 543.6000556945801,
        "y": 44.000003814697266,
        "wires": [
            [
                "814f1f2a.82aa9"
            ]
        ]
    },
    {
        "id": "bfde9268.d6b1d",
        "type": "function",
        "z": "9266cfff.267e38",
        "name": "set seller profile",
        "func": "if(global.get(\"sellers\") && global.get(\"sellers\")>0){\n    val = global.get(\"sellers\") + 1;\n}else{\n    val = 1;\n}\nid='s'+val;\nglobal.set(\"sellerID\",id);\nglobal.set(\"sellers\",val);\nmsg.payload=val;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 283.6000518798828,
        "y": 195.00000381469727,
        "wires": [
            [
                "7112c4fd.609f74",
                "12f1c292.481ddd"
            ]
        ]
    },
    {
        "id": "b39ba8a4.da846",
        "type": "ui_button",
        "z": "9266cfff.267e38",
        "name": "",
        "group": "7958bb10.dd84a4",
        "order": 4,
        "width": "6",
        "height": "1",
        "passthru": false,
        "label": "Add Buyer",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 75,
        "y": 746.0000095367432,
        "wires": [
            [
                "bf536945.5467c8"
            ]
        ]
    },
    {
        "id": "673fbe44.51c7c",
        "type": "function",
        "z": "9266cfff.267e38",
        "name": "Add Buyer",
        "func": "id=global.get('buyerID');\nmoney=global.get('buyermoney');\nmsg.payload = {\n  \"$class\": \"ibm.work.buyer\",\n  \"orders\": [],\n  \"userID\": id,\n  \"money\": money,\n  \"record\": \"Add Buyer\"\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 440.40002822875977,
        "y": 710.6001071929932,
        "wires": [
            [
                "8ec73b69.40bf08"
            ]
        ]
    },
    {
        "id": "6af469d6.eee748",
        "type": "inject",
        "z": "9266cfff.267e38",
        "name": "Check buyer ID",
        "topic": "If buyerID is not set, input an ID",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 148.99999237060547,
        "y": 109.00000381469727,
        "wires": [
            [
                "90eae1c3.f663f"
            ]
        ]
    },
    {
        "id": "90eae1c3.f663f",
        "type": "function",
        "z": "9266cfff.267e38",
        "name": "generate buyerID",
        "func": "msg.payload=2000;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 366.59998321533203,
        "y": 108.60000801086426,
        "wires": [
            [
                "f3a6ec13.7c8b6"
            ]
        ]
    },
    {
        "id": "f3a6ec13.7c8b6",
        "type": "ui_text_input",
        "z": "9266cfff.267e38",
        "name": "",
        "label": "Initial Money",
        "tooltip": "",
        "group": "7958bb10.dd84a4",
        "order": 3,
        "width": "6",
        "height": "1",
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "",
        "x": 547.200008392334,
        "y": 109.00000190734863,
        "wires": [
            [
                "354bf28a.62e9de"
            ]
        ]
    },
    {
        "id": "bf536945.5467c8",
        "type": "function",
        "z": "9266cfff.267e38",
        "name": "set buyer profile",
        "func": "if(global.get(\"buyers\") && global.get(\"buyers\")>0){\n    val = global.get(\"buyers\") + 1;\n}else{\n    val = 1;\n}\nid='b'+val;\nglobal.set(\"buyerID\",id);\nglobal.set(\"buyers\",val);\nmsg.payload=val;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 254.0000762939453,
        "y": 753.0000095367432,
        "wires": [
            [
                "673fbe44.51c7c",
                "9dfbf267.1d97e"
            ]
        ]
    },
    {
        "id": "8ec73b69.40bf08",
        "type": "http request",
        "z": "9266cfff.267e38",
        "name": "Post Buyer",
        "method": "POST",
        "ret": "obj",
        "paytoqs": false,
        "url": "http://localhost:3000/api/ibm.work.buyer",
        "tls": "",
        "proxy": "",
        "authType": "",
        "x": 615.0000534057617,
        "y": 711.0000095367432,
        "wires": [
            [
                "4265eee5.1eafe",
                "5c6feb0d.94f234"
            ]
        ]
    },
    {
        "id": "50e95f3b.8ee82",
        "type": "ui_button",
        "z": "9266cfff.267e38",
        "name": "",
        "group": "670ecdf1.2cdd64",
        "order": 4,
        "width": "6",
        "height": "1",
        "passthru": true,
        "label": "Add Commodity",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 92.00000762939453,
        "y": 960.000018119812,
        "wires": [
            [
                "90381333.77fdf"
            ]
        ]
    },
    {
        "id": "90381333.77fdf",
        "type": "function",
        "z": "9266cfff.267e38",
        "name": "add cmd",
        "func": "id=global.get('sellerID');\nnum=global.get('cmdNum');\nprice=global.get('cmdPrice');\nname=global.get('cmdName');\ntime = new Date().toISOString();\nmsg.payload={\n  \"$class\": \"ibm.work.addCommodity\",\n  \"seller0\": \"resource:ibm.work.seller#\"+id,\n  \"newCommodity\": {\n    \"$class\": \"ibm.work.cmds\",\n    \"cmdNum\": num,\n    \"cmdName\": name,\n    \"cmdPrice\": price\n  },\n  \"timestamp\": time\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 283.60001373291016,
        "y": 959.2000188827515,
        "wires": [
            [
                "4607751c.c7002c"
            ]
        ]
    },
    {
        "id": "4607751c.c7002c",
        "type": "http request",
        "z": "9266cfff.267e38",
        "name": "post cmd",
        "method": "POST",
        "ret": "obj",
        "paytoqs": false,
        "url": "http://localhost:3000/api/ibm.work.addCommodity",
        "tls": "",
        "proxy": "",
        "authType": "",
        "x": 440.00001525878906,
        "y": 962.000018119812,
        "wires": [
            [
                "db74dd1.0b0b32"
            ]
        ]
    },
    {
        "id": "62a040c1.02f4f",
        "type": "ui_button",
        "z": "9266cfff.267e38",
        "name": "",
        "group": "670ecdf1.2cdd64",
        "order": 6,
        "width": "6",
        "height": "1",
        "passthru": true,
        "label": "Delete Commodity",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 112.20001220703125,
        "y": 1025.2000198364258,
        "wires": [
            [
                "fb3a9482.6daf18"
            ]
        ]
    },
    {
        "id": "fb3a9482.6daf18",
        "type": "function",
        "z": "9266cfff.267e38",
        "name": "del cmd",
        "func": "id=global.get('sellerID');\nname=global.get('cmdName');\ntime = new Date().toISOString();\nmsg.payload={\n  \"$class\": \"ibm.work.delCommodity\",\n  \"seller0\": \"resource:ibm.work.seller#\"+id,\n  \"cmdName\": name,\n  \"timestamp\": time\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 316.8000144958496,
        "y": 1019.4000196456909,
        "wires": [
            [
                "3793327c.f847b6"
            ]
        ]
    },
    {
        "id": "3793327c.f847b6",
        "type": "http request",
        "z": "9266cfff.267e38",
        "name": "post cmd2",
        "method": "POST",
        "ret": "obj",
        "paytoqs": false,
        "url": "http://localhost:3000/api/ibm.work.delCommodity",
        "tls": "",
        "proxy": "",
        "authType": "",
        "x": 489.2000198364258,
        "y": 1017.2000188827515,
        "wires": [
            [
                "db74dd1.0b0b32"
            ]
        ]
    },
    {
        "id": "916de013.ad66a",
        "type": "ui_text_input",
        "z": "9266cfff.267e38",
        "name": "cmdName",
        "label": "Name",
        "tooltip": "",
        "group": "670ecdf1.2cdd64",
        "order": 1,
        "width": "2",
        "height": "1",
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "",
        "x": 611,
        "y": 1485.9999856948853,
        "wires": [
            [
                "decb23d3.dd2c7"
            ]
        ]
    },
    {
        "id": "4690b2c1.efe58c",
        "type": "ui_text_input",
        "z": "9266cfff.267e38",
        "name": "cmdPrice",
        "label": "Price",
        "tooltip": "",
        "group": "670ecdf1.2cdd64",
        "order": 2,
        "width": "2",
        "height": "1",
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "",
        "x": 595.4000244140625,
        "y": 1555.999924659729,
        "wires": [
            [
                "6b51154.e9739ec"
            ]
        ]
    },
    {
        "id": "7186714d.850a7",
        "type": "ui_text_input",
        "z": "9266cfff.267e38",
        "name": "cmdNum",
        "label": "Number",
        "tooltip": "",
        "group": "670ecdf1.2cdd64",
        "order": 3,
        "width": "2",
        "height": "1",
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "",
        "x": 615.4000091552734,
        "y": 1608.999903678894,
        "wires": [
            [
                "8160fcb2.bbe31"
            ]
        ]
    },
    {
        "id": "decb23d3.dd2c7",
        "type": "function",
        "z": "9266cfff.267e38",
        "name": "set cmdname",
        "func": "name=msg.payload;\nglobal.set('cmdName',name);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 800.0000610351562,
        "y": 1486.1999979019165,
        "wires": [
            []
        ]
    },
    {
        "id": "6b51154.e9739ec",
        "type": "function",
        "z": "9266cfff.267e38",
        "name": "set cmdp",
        "func": "name=msg.payload;\nglobal.set('cmdPrice',name);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 789.4000244140625,
        "y": 1555.999924659729,
        "wires": [
            []
        ]
    },
    {
        "id": "8160fcb2.bbe31",
        "type": "function",
        "z": "9266cfff.267e38",
        "name": "set cmdnum",
        "func": "name=msg.payload;\nglobal.set('cmdNum',name);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 807.4000091552734,
        "y": 1610.999903678894,
        "wires": [
            []
        ]
    },
    {
        "id": "19a34d3d.d422d3",
        "type": "function",
        "z": "9266cfff.267e38",
        "name": "tips1",
        "func": "n = global.get('cmdName');\nif (n &&n!==\"\"){\n    msg.payload = n;\n}else{\n    msg.payload=\"name\";\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 399.3999938964844,
        "y": 1485.9999856948853,
        "wires": [
            [
                "916de013.ad66a"
            ]
        ]
    },
    {
        "id": "1ad76f05.0e4e61",
        "type": "function",
        "z": "9266cfff.267e38",
        "name": "tips2",
        "func": "n = global.get('cmdPrice');\nif (n&&n!==\"\"){\n    msg.payload = n;\n}else{\n    msg.payload=\"price\";\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 393.3999938964844,
        "y": 1555.9999856948853,
        "wires": [
            [
                "4690b2c1.efe58c"
            ]
        ]
    },
    {
        "id": "40799e86.db006",
        "type": "function",
        "z": "9266cfff.267e38",
        "name": "tips3",
        "func": "n = global.get('cmdNum');\nif (n&&n!==\"\"){\n    msg.payload = n;\n}else{\n    msg.payload=\"numbers\";\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 438.40002822875977,
        "y": 1606.999903678894,
        "wires": [
            [
                "7186714d.850a7"
            ]
        ]
    },
    {
        "id": "8faf31aa.742ba",
        "type": "inject",
        "z": "9266cfff.267e38",
        "name": "Check cmd",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 166.3999786376953,
        "y": 1599.999924659729,
        "wires": [
            [
                "19a34d3d.d422d3",
                "1ad76f05.0e4e61",
                "40799e86.db006",
                "e4903fe7.9b2b08",
                "792d7b3c.51cf8c",
                "3c8304c.75922fc"
            ]
        ]
    },
    {
        "id": "e4903fe7.9b2b08",
        "type": "function",
        "z": "9266cfff.267e38",
        "name": "tips4",
        "func": "n = global.get('cmdName');\nif (n &&n!==\"\"){\n    msg.payload = n;\n}else{\n    msg.payload=\"name\";\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 494.200008392334,
        "y": 1657.2001008987427,
        "wires": [
            [
                "430e76f8.467cb"
            ]
        ]
    },
    {
        "id": "430e76f8.467cb",
        "type": "ui_text_input",
        "z": "9266cfff.267e38",
        "name": "cmdName",
        "label": "Commodity To Delete",
        "tooltip": "",
        "group": "670ecdf1.2cdd64",
        "order": 5,
        "width": "6",
        "height": "1",
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "",
        "x": 664.8000564575195,
        "y": 1661.2000999450684,
        "wires": [
            [
                "ee9fadbe.dfd89"
            ]
        ]
    },
    {
        "id": "ee9fadbe.dfd89",
        "type": "function",
        "z": "9266cfff.267e38",
        "name": "set cmdname",
        "func": "name=msg.payload;\nglobal.set('cmdName',name);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 854.8000602722168,
        "y": 1659.399905204773,
        "wires": [
            []
        ]
    },
    {
        "id": "2e1c99f3.bcf8a6",
        "type": "http request",
        "z": "9266cfff.267e38",
        "name": "get all cmd",
        "method": "GET",
        "ret": "obj",
        "paytoqs": true,
        "url": "",
        "tls": "",
        "proxy": "",
        "authType": "",
        "x": 918.6001129150391,
        "y": 893.2001113891602,
        "wires": [
            [
                "58876fb5.0ab5"
            ]
        ]
    },
    {
        "id": "58876fb5.0ab5",
        "type": "function",
        "z": "9266cfff.267e38",
        "name": "make list",
        "func": "cmd=msg.payload;\nif(typeof(cmd)=='string'){\n    cmd=JSON.parse(cmd);\n}\na='';\ncmd=cmd.commodityList;\nfor(let i=0;i<cmd.length;i++){\n    a+=cmd[i].cmdName+' ￥'+cmd[i].cmdPrice+' 余量'+cmd[i].cmdNum+'<br>';\n}\nglobal.set('list',a);\nmsg.payload=a;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 914.6000671386719,
        "y": 961.2001113891602,
        "wires": [
            [
                "be00a10e.c9d6d"
            ]
        ]
    },
    {
        "id": "db74dd1.0b0b32",
        "type": "function",
        "z": "9266cfff.267e38",
        "name": "void",
        "func": "id=global.get('sellerID');\nurl={url:'http://localhost:3000/api/ibm.work.seller/'+id};\nmsg=payload=url;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 884.6000671386719,
        "y": 811.2001113891602,
        "wires": [
            [
                "2e1c99f3.bcf8a6"
            ]
        ]
    },
    {
        "id": "be00a10e.c9d6d",
        "type": "ui_text",
        "z": "9266cfff.267e38",
        "group": "670ecdf1.2cdd64",
        "order": 7,
        "width": "6",
        "height": "4",
        "name": "cmd list",
        "label": "Commodity List",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 927.8000221252441,
        "y": 1035.000015258789,
        "wires": []
    },
    {
        "id": "da8c32d6.393cd",
        "type": "inject",
        "z": "9266cfff.267e38",
        "name": "Check cmd",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 93,
        "y": 437.0000057220459,
        "wires": [
            [
                "6bcc85dc.94adec",
                "f5afa905.028ea8",
                "4265eee5.1eafe"
            ]
        ]
    },
    {
        "id": "90d60508.c3c89",
        "type": "ui_button",
        "z": "9266cfff.267e38",
        "name": "",
        "group": "bffc0ad3.623818",
        "order": 6,
        "width": "6",
        "height": "1",
        "passthru": false,
        "label": "Send Out",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 105.4000015258789,
        "y": 269.4000015258789,
        "wires": [
            [
                "4a0cfbef.700ea4"
            ]
        ]
    },
    {
        "id": "4a0cfbef.700ea4",
        "type": "function",
        "z": "9266cfff.267e38",
        "name": "send out",
        "func": "id=global.get(\"sellerOrder\");\ntime = new Date().toISOString();\nmsg.payload={\n  \"$class\": \"ibm.work.sendOut\",\n  \"order0\": \"resource:ibm.work.order#\"+id,\n  \"timestamp\": time\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 317.40003204345703,
        "y": 268.5999069213867,
        "wires": [
            [
                "8906dd4a.d7b6a8"
            ]
        ]
    },
    {
        "id": "8906dd4a.d7b6a8",
        "type": "http request",
        "z": "9266cfff.267e38",
        "name": "send Out",
        "method": "POST",
        "ret": "obj",
        "paytoqs": false,
        "url": "http://localhost:3000/api/ibm.work.sendOut",
        "tls": "",
        "proxy": "",
        "authType": "",
        "x": 485.40003204345703,
        "y": 268.7999801635742,
        "wires": [
            [
                "4265eee5.1eafe"
            ]
        ]
    },
    {
        "id": "792d7b3c.51cf8c",
        "type": "function",
        "z": "9266cfff.267e38",
        "name": "tips5",
        "func": "n = global.get('sellerOrder');\nif (n &&n!==\"\"){\n    msg.payload = n;\n}else{\n    msg.payload=\"orderID\";\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 393.40000915527344,
        "y": 1412.5999765396118,
        "wires": [
            [
                "412a6122.8fc0f8"
            ]
        ]
    },
    {
        "id": "412a6122.8fc0f8",
        "type": "ui_text_input",
        "z": "9266cfff.267e38",
        "name": "sellerorderID",
        "label": "orderID",
        "tooltip": "",
        "group": "bffc0ad3.623818",
        "order": 5,
        "width": "6",
        "height": "1",
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "",
        "x": 600.2000122070312,
        "y": 1413.1999979019165,
        "wires": [
            [
                "9a9c4a4f.7d9078"
            ]
        ]
    },
    {
        "id": "9a9c4a4f.7d9078",
        "type": "function",
        "z": "9266cfff.267e38",
        "name": "set sellerorder",
        "func": "order=msg.payload;\nglobal.set('sellerOrder',order);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 798.2000122070312,
        "y": 1413.1999979019165,
        "wires": [
            []
        ]
    },
    {
        "id": "40951957.10bdf8",
        "type": "ui_text_input",
        "z": "9266cfff.267e38",
        "name": "bname",
        "label": "Name",
        "tooltip": "",
        "group": "7958bb10.dd84a4",
        "order": 5,
        "width": "3",
        "height": "1",
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "",
        "x": 578,
        "y": 1172.0000066757202,
        "wires": [
            [
                "ca6fcd6a.9bbb7"
            ]
        ]
    },
    {
        "id": "fdff7e7f.953ee",
        "type": "ui_text_input",
        "z": "9266cfff.267e38",
        "name": "bnum",
        "label": "Number",
        "tooltip": "",
        "group": "7958bb10.dd84a4",
        "order": 6,
        "width": "3",
        "height": "1",
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "",
        "x": 587.4000091552734,
        "y": 1268.9999332427979,
        "wires": [
            [
                "840476ea.544348"
            ]
        ]
    },
    {
        "id": "ca6fcd6a.9bbb7",
        "type": "function",
        "z": "9266cfff.267e38",
        "name": "set cmdname",
        "func": "name=msg.payload;\nglobal.set('bname',name);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 787.0000610351562,
        "y": 1172.2000188827515,
        "wires": [
            []
        ]
    },
    {
        "id": "840476ea.544348",
        "type": "function",
        "z": "9266cfff.267e38",
        "name": "set cmdnum",
        "func": "name=msg.payload;\nglobal.set('bnum',name);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 789.4000091552734,
        "y": 1270.9999332427979,
        "wires": [
            []
        ]
    },
    {
        "id": "f0f0489c.f611c8",
        "type": "function",
        "z": "9266cfff.267e38",
        "name": "tips1",
        "func": "n = global.get('bname');\nif (n &&n!==\"\"){\n    msg.payload = n;\n}else{\n    msg.payload=\"name\";\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 386.3999938964844,
        "y": 1172.0000066757202,
        "wires": [
            [
                "40951957.10bdf8"
            ]
        ]
    },
    {
        "id": "bcfd797e.16aa38",
        "type": "function",
        "z": "9266cfff.267e38",
        "name": "tips3",
        "func": "n = global.get('bnum');\nif (n&&n!==\"\"){\n    msg.payload = n;\n}else{\n    msg.payload=\"numbers\";\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 420.40002822875977,
        "y": 1266.9999332427979,
        "wires": [
            [
                "fdff7e7f.953ee"
            ]
        ]
    },
    {
        "id": "40d2721e.56cc1c",
        "type": "inject",
        "z": "9266cfff.267e38",
        "name": "Check cmd",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 153.3999786376953,
        "y": 1198.9999322891235,
        "wires": [
            [
                "f0f0489c.f611c8",
                "bcfd797e.16aa38"
            ]
        ]
    },
    {
        "id": "9ce2e53d.d4a5b8",
        "type": "ui_button",
        "z": "9266cfff.267e38",
        "name": "",
        "group": "7958bb10.dd84a4",
        "order": 7,
        "width": "6",
        "height": "1",
        "passthru": false,
        "label": "Make Order",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 89,
        "y": 620.000057220459,
        "wires": [
            [
                "4962365b.d071f8"
            ]
        ]
    },
    {
        "id": "4962365b.d071f8",
        "type": "function",
        "z": "9266cfff.267e38",
        "name": "makeorder",
        "func": "sid=global.get('sellerID');\nbid=global.get('buyerID');\nname=global.get('bname');\nnum=global.get('bnum');\nmsg.payload = {\n    \"$class\": \"ibm.work.makeOrder\",\n    \"seller0\": \"resource:ibm.work.seller#\" + sid,\n    \"buyer0\": \"resource:ibm.work.buyer#\" + bid,\n    \"cmd\": {\n        \"$class\": \"ibm.work.cmds\",\n        \"cmdNum\": num,\n        \"cmdName\": name,\n        \"cmdPrice\": 0\n    }\n};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 288.00002670288086,
        "y": 621.0000574588776,
        "wires": [
            [
                "c0dbfc2a.f5af3"
            ]
        ]
    },
    {
        "id": "c0dbfc2a.f5af3",
        "type": "http request",
        "z": "9266cfff.267e38",
        "name": "makeorder",
        "method": "POST",
        "ret": "obj",
        "paytoqs": false,
        "url": "http://localhost:3000/api/ibm.work.makeOrder",
        "tls": "",
        "proxy": "",
        "authType": "",
        "x": 512.0000534057617,
        "y": 618.8000814914703,
        "wires": [
            [
                "db74dd1.0b0b32",
                "4265eee5.1eafe",
                "5c6feb0d.94f234"
            ]
        ]
    },
    {
        "id": "3c8304c.75922fc",
        "type": "function",
        "z": "9266cfff.267e38",
        "name": "tips6",
        "func": "n = global.get('buyerOrder');\nif (n &&n!==\"\"){\n    msg.payload = n;\n}else{\n    msg.payload=\"orderID\";\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 395.20001220703125,
        "y": 1352.1999979019165,
        "wires": [
            [
                "f0221ffa.cdece"
            ]
        ]
    },
    {
        "id": "f0221ffa.cdece",
        "type": "ui_text_input",
        "z": "9266cfff.267e38",
        "name": "buyerorderID",
        "label": "orderID",
        "tooltip": "",
        "group": "7958bb10.dd84a4",
        "order": 8,
        "width": "6",
        "height": "1",
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "",
        "x": 602.0000152587891,
        "y": 1352.8000192642212,
        "wires": [
            [
                "c4d84f91.bb2928"
            ]
        ]
    },
    {
        "id": "c4d84f91.bb2928",
        "type": "function",
        "z": "9266cfff.267e38",
        "name": "set buyerorder",
        "func": "order=msg.payload;\nglobal.set('buyerOrder',order);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 800.0000152587891,
        "y": 1352.8000192642212,
        "wires": [
            []
        ]
    },
    {
        "id": "817d9da1.3b0378",
        "type": "ui_button",
        "z": "9266cfff.267e38",
        "name": "",
        "group": "7958bb10.dd84a4",
        "order": 10,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "Confirm Get",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 113.20000457763672,
        "y": 322.19994354248047,
        "wires": [
            [
                "aa43b8d5.303a08"
            ]
        ]
    },
    {
        "id": "aa43b8d5.303a08",
        "type": "function",
        "z": "9266cfff.267e38",
        "name": "confirm get",
        "func": "id=global.get(\"buyerOrder\");\ntime = new Date().toISOString();\nmsg.payload={\n  \"$class\": \"ibm.work.confirmGet\",\n  \"order0\": \"resource:ibm.work.order#\"+id,\n  \"timestamp\": time\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 325.20003509521484,
        "y": 321.3998489379883,
        "wires": [
            [
                "ecec2e0c.15dff8"
            ]
        ]
    },
    {
        "id": "ecec2e0c.15dff8",
        "type": "http request",
        "z": "9266cfff.267e38",
        "name": "confirm Get",
        "method": "POST",
        "ret": "obj",
        "paytoqs": false,
        "url": "http://localhost:3000/api/ibm.work.confirmGet",
        "tls": "",
        "proxy": "",
        "authType": "",
        "x": 493.20003509521484,
        "y": 321.5999221801758,
        "wires": [
            [
                "4265eee5.1eafe",
                "be13df80.5e9b9"
            ]
        ]
    },
    {
        "id": "d4ac9234.c967a",
        "type": "ui_button",
        "z": "9266cfff.267e38",
        "name": "",
        "group": "7958bb10.dd84a4",
        "order": 9,
        "width": "3",
        "height": "1",
        "passthru": false,
        "label": "Cancel Order",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 122.00000762939453,
        "y": 365.9999313354492,
        "wires": [
            [
                "cec55a1e.ba4e28"
            ]
        ]
    },
    {
        "id": "cec55a1e.ba4e28",
        "type": "function",
        "z": "9266cfff.267e38",
        "name": "cancel order",
        "func": "id=global.get(\"buyerOrder\");\ntime = new Date().toISOString();\nmsg.payload={\n  \"$class\": \"ibm.work.cancelOrder\",\n  \"order0\": \"resource:ibm.work.order#\"+id,\n  \"timestamp\": time\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 334.00003814697266,
        "y": 365.19983673095703,
        "wires": [
            [
                "6b74a6e2.cf52e8"
            ]
        ]
    },
    {
        "id": "6b74a6e2.cf52e8",
        "type": "http request",
        "z": "9266cfff.267e38",
        "name": "cancel order",
        "method": "POST",
        "ret": "obj",
        "paytoqs": false,
        "url": "http://localhost:3000/api/ibm.work.cancelOrder",
        "tls": "",
        "proxy": "",
        "authType": "",
        "x": 502.00003814697266,
        "y": 365.39990997314453,
        "wires": [
            [
                "4265eee5.1eafe",
                "db74dd1.0b0b32",
                "5c6feb0d.94f234"
            ]
        ]
    },
    {
        "id": "99d3f203.36678",
        "type": "ui_text_input",
        "z": "9266cfff.267e38",
        "name": "cmdNum",
        "label": "sid",
        "tooltip": "",
        "group": "bffc0ad3.623818",
        "order": 2,
        "width": "2",
        "height": "1",
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "",
        "x": 430.000057220459,
        "y": 445.00000381469727,
        "wires": [
            [
                "1c1f0803.3654d8"
            ]
        ]
    },
    {
        "id": "1c1f0803.3654d8",
        "type": "function",
        "z": "9266cfff.267e38",
        "name": "sellers",
        "func": "name=msg.payload;\nglobal.set('sellerID',name);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 565.0000152587891,
        "y": 442.00000381469727,
        "wires": [
            [
                "db74dd1.0b0b32"
            ]
        ]
    },
    {
        "id": "6bcc85dc.94adec",
        "type": "function",
        "z": "9266cfff.267e38",
        "name": "sellerID",
        "func": "msg.payload='s0';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 291.0000305175781,
        "y": 448.00000381469727,
        "wires": [
            [
                "99d3f203.36678"
            ]
        ]
    },
    {
        "id": "f5afa905.028ea8",
        "type": "function",
        "z": "9266cfff.267e38",
        "name": "buyerID",
        "func": "msg.payload='b0';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 265.8000373840332,
        "y": 511.2002010345459,
        "wires": [
            [
                "6a5881e9.0d6bf"
            ]
        ]
    },
    {
        "id": "6a5881e9.0d6bf",
        "type": "ui_text_input",
        "z": "9266cfff.267e38",
        "name": "cmdName",
        "label": "bid",
        "tooltip": "",
        "group": "7958bb10.dd84a4",
        "order": 2,
        "width": "2",
        "height": "1",
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "",
        "x": 420.4000663757324,
        "y": 511.2002010345459,
        "wires": [
            [
                "38054950.ac5736"
            ]
        ]
    },
    {
        "id": "38054950.ac5736",
        "type": "function",
        "z": "9266cfff.267e38",
        "name": "buyers",
        "func": "name=msg.payload;\nglobal.set('buyerID',name);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 577.4000205993652,
        "y": 521.4000062942505,
        "wires": [
            []
        ]
    },
    {
        "id": "d5629534.604b08",
        "type": "inject",
        "z": "9266cfff.267e38",
        "name": "Check cmd",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "x": 411.00000762939453,
        "y": 881.0000114440918,
        "wires": [
            [
                "db74dd1.0b0b32"
            ]
        ]
    },
    {
        "id": "814f1f2a.82aa9",
        "type": "function",
        "z": "9266cfff.267e38",
        "name": "sellermoney",
        "func": "n = msg.payload;\nglobal.set('sellermoney',n);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 712.6000595092773,
        "y": 45,
        "wires": [
            []
        ]
    },
    {
        "id": "354bf28a.62e9de",
        "type": "function",
        "z": "9266cfff.267e38",
        "name": "buyermoney",
        "func": "n = msg.payload;\nglobal.set('buyermoney',n);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 726.0000114440918,
        "y": 109.00000190734863,
        "wires": [
            []
        ]
    },
    {
        "id": "12f1c292.481ddd",
        "type": "ui_text",
        "z": "9266cfff.267e38",
        "group": "bffc0ad3.623818",
        "order": 1,
        "width": "4",
        "height": "1",
        "name": "",
        "label": "seller count",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 477.60003662109375,
        "y": 174.1999969482422,
        "wires": []
    },
    {
        "id": "9dfbf267.1d97e",
        "type": "ui_text",
        "z": "9266cfff.267e38",
        "group": "7958bb10.dd84a4",
        "order": 1,
        "width": "4",
        "height": "1",
        "name": "",
        "label": "buyer count",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 443,
        "y": 774,
        "wires": []
    },
    {
        "id": "4265eee5.1eafe",
        "type": "http request",
        "z": "9266cfff.267e38",
        "name": "get all orders",
        "method": "GET",
        "ret": "obj",
        "paytoqs": false,
        "url": "http://localhost:3000/api/ibm.work.order",
        "tls": "",
        "proxy": "",
        "authType": "",
        "x": 912.0000343322754,
        "y": 370.00005531311035,
        "wires": [
            [
                "6a3f896f.94f2a8"
            ]
        ]
    },
    {
        "id": "6a3f896f.94f2a8",
        "type": "function",
        "z": "9266cfff.267e38",
        "name": "make list",
        "func": "ods=msg.payload;\nif(typeof(ods)=='string'){\n    ods=JSON.parse(ods);\n}\na=\"<size=40>\";\nfor(let i=0;i<ods.length;i++){\n    a+=ods[i].orderID+\" &<color=yellow>\"+ods[i].state+'</color><br>';\n}\nmsg.payload=a+'</size>';\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 977.0000381469727,
        "y": 413.00000762939453,
        "wires": [
            [
                "b5d32272.24009"
            ]
        ]
    },
    {
        "id": "b5d32272.24009",
        "type": "ui_text",
        "z": "9266cfff.267e38",
        "group": "1f66714.2f8e48f",
        "order": 11,
        "width": "10",
        "height": "13",
        "name": "cmd list",
        "label": "Order List",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 976.0000381469727,
        "y": 448.00000762939453,
        "wires": []
    },
    {
        "id": "9377b0b9.2211e",
        "type": "ui_text",
        "z": "9266cfff.267e38",
        "group": "bffc0ad3.623818",
        "order": 6,
        "width": "6",
        "height": "2",
        "name": "sm",
        "label": "SellerMoney",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 927.6000175476074,
        "y": 280.20000171661377,
        "wires": []
    },
    {
        "id": "ea875ec9.b2cf9",
        "type": "ui_text",
        "z": "9266cfff.267e38",
        "group": "7958bb10.dd84a4",
        "order": 10,
        "width": "6",
        "height": "2",
        "name": "bm",
        "label": "BuyerMoney",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 976.5999946594238,
        "y": 605.2000026702881,
        "wires": []
    },
    {
        "id": "62a52b08.26a014",
        "type": "function",
        "z": "9266cfff.267e38",
        "name": "refresh",
        "func": "cmd=msg.payload;\nif(typeof(cmd)=='string'){\n    cmd=JSON.parse(cmd);\n}\nglobal.set(\"sellermoney\",cmd.money);\nmsg.payload=cmd.money;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 897.6001243591309,
        "y": 246.00000190734863,
        "wires": [
            [
                "9377b0b9.2211e"
            ]
        ]
    },
    {
        "id": "df7ec64a.c1bc98",
        "type": "http request",
        "z": "9266cfff.267e38",
        "name": "get money",
        "method": "GET",
        "ret": "obj",
        "paytoqs": true,
        "url": "",
        "tls": "",
        "proxy": "",
        "authType": "",
        "x": 875.0000228881836,
        "y": 211.00000190734863,
        "wires": [
            [
                "62a52b08.26a014"
            ]
        ]
    },
    {
        "id": "be13df80.5e9b9",
        "type": "function",
        "z": "9266cfff.267e38",
        "name": "void",
        "func": "id=global.get('sellerID');\nurl={url:'http://localhost:3000/api/ibm.work.seller/'+id};\nmsg=payload=url;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 823.0000228881836,
        "y": 175.00000190734863,
        "wires": [
            [
                "df7ec64a.c1bc98"
            ]
        ]
    },
    {
        "id": "ffeb304e.a9a7d",
        "type": "function",
        "z": "9266cfff.267e38",
        "name": "refresh",
        "func": "cmd=msg.payload;\nif(typeof(cmd)=='string'){\n    cmd=JSON.parse(cmd);\n}\nglobal.set(\"buyermoney\",cmd.money);\nmsg.payload=cmd.money;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 947.2000389099121,
        "y": 571.0000038146973,
        "wires": [
            [
                "ea875ec9.b2cf9"
            ]
        ]
    },
    {
        "id": "25fc0752.278258",
        "type": "http request",
        "z": "9266cfff.267e38",
        "name": "get money",
        "method": "GET",
        "ret": "obj",
        "paytoqs": true,
        "url": "",
        "tls": "",
        "proxy": "",
        "authType": "",
        "x": 917.5999374389648,
        "y": 536.0000038146973,
        "wires": [
            [
                "ffeb304e.a9a7d"
            ]
        ]
    },
    {
        "id": "5c6feb0d.94f234",
        "type": "function",
        "z": "9266cfff.267e38",
        "name": "void",
        "func": "id=global.get('buyerID');\nurl={url:'http://localhost:3000/api/ibm.work.buyer/'+id};\nmsg=payload=url;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 879.5998878479004,
        "y": 502.00000381469727,
        "wires": [
            [
                "25fc0752.278258"
            ]
        ]
    },
    {
        "id": "bffc0ad3.623818",
        "type": "ui_group",
        "z": "",
        "name": "Seller",
        "tab": "4b23d703.469538",
        "order": 1,
        "disp": true,
        "width": "7",
        "collapse": false
    },
    {
        "id": "7958bb10.dd84a4",
        "type": "ui_group",
        "z": "",
        "name": "Buyer",
        "tab": "4b23d703.469538",
        "order": 3,
        "disp": true,
        "width": "7",
        "collapse": false
    },
    {
        "id": "670ecdf1.2cdd64",
        "type": "ui_group",
        "z": "",
        "name": "Commodity",
        "tab": "4b23d703.469538",
        "order": 2,
        "disp": true,
        "width": "7",
        "collapse": false
    },
    {
        "id": "1f66714.2f8e48f",
        "type": "ui_group",
        "z": "",
        "name": "Orders",
        "tab": "4b23d703.469538",
        "order": 4,
        "disp": true,
        "width": "10",
        "collapse": false
    },
    {
        "id": "4b23d703.469538",
        "type": "ui_tab",
        "z": "",
        "name": "IBM商城——我，计算机学院本科生，有一个梦想，就是在暑假的深夜睡个好觉",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    }
]